* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}
.container {
  width: 100%;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: tomato;
  color: #fff;
  height: 55px;
}
.h2-nav {
  padding-left: 25px;
}
.h2-nav:hover {
  color: black;
  transition: 1s;
}

.nav-links {
  padding-right: 25px;
}
.nav-links a:hover {
  color: black;
  transition: 1s;
}

.menu-tacos {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.tacos {
  margin-left: 15px;
  margin-left: 15px;
  width: 45%;
  background-color: coral;
  padding: 8px;
  border: black solid 5px;
}
.tacos-2 {
  margin-left: 25px;

  width: 45%;
  background-color: coral;
  border: black solid 5px;
  padding: 8px;
}

video {
  width: 100%;
}
ul {
  display: flex;
}
li {
  list-style: none;
  margin-left: 5px;
}
a {
  text-decoration: none;
  color: #fff;
}
.beverages {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("images/pexels-tembela-bohle-1089932.jpg");
  background-size: cover;
  height: 70vh;
  width: 100%;
  color: #fff;
}
.beer {
  display: flex;
  justify-content: center;
  gap: 25px;
  background-color: black;
  color: white;
  margin: 5px;
}
.flex-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkgrey;
  height: 55px;
}
i {
  padding-left: 25px;
}
.face {
  color: #3b5998;
}
.twit {
  color: blue;
}
.insta {
  color: crimson;
}
